.flex-all-center{
   /* text-align: center; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn{
   padding: 5px 10px;
   background-color: var(--main-bg-color);
   color: white;
   border: 2px solid white;
   border-radius: 7px;
   cursor: pointers;
   /* font-family:sans-serif; */
   /* font-family: 'Sedgwick Ave', cursive; */
}
.btn:hover{
     font-weight: bolder;
}

.my-1{
   margin: 5px 0;
}
.my-2{
   /* margin: 25px 0; */
   margin: 2px 0;
}

.text-center{
   text-align: center;
   /* padding:2px; */
   margin: 6px;

}